<%- include('../partials/header') %>

<img class="profile-pic" src="<%= user.profilePic %>" alt="Your Profile Picture" width="80">
<p class="user-name"><%= name %></p>

<img class="picto-img" src="<%= picto.imgData %>" alt="Picto">    
<br>
<a class="link-button" href="/picto/<%= picto._id %>/edit">Edit Picto</a>

<%- include('../partials/footer') %>