<%- include('../partials/header') %>

<img class="profile-pic" src="<%= user.profilePic %>" alt="Your Profile Picture" width="80">
<p class="user-name"><%= name %></p>

<img class="picto-img" src="<%= picto.imgData %>" alt="Picto">    


<%- include('../partials/footer') %>