<%- include('../partials/header') %>

<img class="profile-pic" src="<%= user.profilePic %>" alt="Your Profile Picture" width="80">
<p class="user-name"><%= name %></p>

<img class="picto-img" src="<%= picto.imgData %>" alt="Picto">    
<br>
<% if(isCurrentUser){ %>
   <a class="link-button" href="/picto/<%= picto._id %>/edit">Edit Picto</a> 
<% } else { %>
   <a class="link-button" href="/picto/<%= picto._id %>/comments/new">Add a Comment</a> 
<% } %>


<%- include('../partials/footer') %>