<%- include('../partials/header') %>
<script defer src="/javascripts/canvas.js"></script>
<script defer src="/javascripts/new-comment.js"></script>
<script>
        let pictoId = "<%- picto._id %>";
</script>

<div class="edit-canvas">
        <div>
                <img class="picto-img" src="<%= picto.imgData %>" alt="Picto">
        </div>
        <div>
                <%- include('../partials/canvas') %>
                <button id="submit-picto" class="link-button">Submit Comment</button>
        </div>
</div>

<%- include('../partials/footer') %>