<%- include('../partials/header') %>
<div class="home-page">

    <section class="your-pictos">
        <header>
            <h1>Your Pictos</h1>
            <a class="link-button" href="/picto/new">Create a Picto!</a>
        </header>
       
        <% if(pictos.length){ 
    pictos.forEach(function(picto){ %>
        <a class="picto-link" href="/picto/<%= picto._id %>">
            <img class="picto-img" src="<%= picto.imgData %>" alt="Picto">
        </a>
        <div class="user-time">
        <p><%= picto.createdAt.toLocaleDateString('fullwide', {hour: 'numeric', minute: 'numeric'}) %></p>
        </div>
        <%  }); 
} %>
    </section>
    <section class="others-pictos">
        <h1>Other users recent Pictos</h1>
        <% if(otherPictos.length){ 
    otherPictos.forEach(function(picto){ %>
        <a class="picto-link" href="/picto/<%= picto._id %>">
            <img class="picto-img" src="<%= picto.imgData %>" alt="Picto">
        </a>
        <div class="user-time">
        <p><%= picto.creator.name %></p>
        <p><%= picto.createdAt.toLocaleDateString('fullwide', {hour: 'numeric', minute: 'numeric'}) %></p>
        </div>
        <%  }); 
} %>
    </section>

</div>
<%- include('../partials/footer') %>